.card {
	box-shadow: 1px 2px 2px 1px #333;
	padding: 20px;
}

.card:hover {
	box-shadow: 2px 3px 3px 2px #333;
}

code {
	background-color: #2d2d2d;
	display: block;
	color: whitesmoke;
	padding: 20px;
	width: 100%;
}

.green {
	color: green;
}

.red {
	color: red;
}

.overline {
	text-decoration: overline;
}

.strikethrough {
	text-decoration: line-through;
}